#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS := $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
	NUMJOBS := 1
endif

PLUGINDIR=$(shell pkg-config ofono --variable=plugindir)
LIBDIR=/usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
INCLUDEDIR=/usr/include/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_build:
	make -j$(NUMJOBS) PLUGINDIR=$(PLUGINDIR) KEEP_SYMBOLS=1 release
	make -j$(NUMJOBS) -C lib LIBDIR=$(LIBDIR) KEEP_SYMBOLS=1 release pkgconfig

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/tmp PLUGINDIR=$(PLUGINDIR) install
	make DESTDIR=$(CURDIR)/debian/tmp -C lib LIBDIR=$(LIBDIR) TARGET_INCLUDE_DIR=$(INCLUDEDIR) install install-dev
	find $(CURDIR)/debian

override_dh_install:
	dh_install --remaining-packages 

%:
	dh $@
